.quiz-container {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

.quiz-container h2 {
    text-align: center;
}

.quiz-container form {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 20px;

}

.quiz-container .form-input {
    position: relative;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s ease;

}

.quiz-container .form-input:hover {
    background-color: aliceblue;
}

.quiz-container .form-input.selected {
    border: 2px solid #000;
}

.quiz-container .form-input input {
    position: absolute;
    margin: auto;
    cursor: pointer;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.quiz-container .handling_button {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;
}

.quiz-container .handling_button button {
    cursor: pointer;
    font-size: 1.2rem;
    width: 120px;
    height: 100px;
    margin: 0 20px;
    border-radius: 20px;

}

@media screen and (max-width: 425px) {
    .quiz-container form {
        align-items: center;
        flex-direction: column;
        font-size: 15px;
    }

    .quiz-container .form-input {
        margin: 5px 0px;
        text-align: center;
        font-size: 15px;
    }


    .quiz-container .handling_button {
        margin-top: 50px;
    }
}